<table class="table table-hover">
    <thead>
        <tr>
            {% for head_column in head_columns %}
            <th scope="col">{{ head_column|trans }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for value_column in value_columns %}
        <tr>
            {% for head_column in head_columns %}
            <td>{{ attribute(value_column, head_column) }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>