### VSCode ###
.vscode
### VSCode ###

###> symfony/framework-bundle ###
app/.env
/app/.env.local
/app/.env.local.php
/app/.env.*.local
/app/config/secrets/prod/prod.decrypt.private.php
/app/public/bundles/
/app/var/
/app/vendor/
app/src/.preload.php
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
app/node_modules/
app/public/build/
app/npm-debug.log
app/yarn-error.log
###< symfony/webpack-encore-bundle ###

###> Custom <###
app/public/uploads/
CmsBundle
EasyAdminExtensionBundle
FosUserExtensionBundle
GregwarCaptchaExtensionBundle
TestFixtures
TestUtils
###< Custom >###