{% extends 'admin/admin_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="card text-white bg-info mt-5">
        <div class="card-body">
          <h5 class="card-title">{% trans %}site.show.unavailable.title{% endtrans %}</h5>
          <p class="card-text">{% trans %}site.show.unavailable.message{% endtrans %}</p>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}